logLevel: info
logDestinations: [stdout]
logStructured: false

readTimeout: 30s
writeTimeout: 30s
writeQueueSize: 8192
udpMaxPayloadSize: 1316

authMethod: internal
authInternalUsers:
  - user: any
    pass:
    ips: []
    permissions:
      - action: publish
        path: "__STREAM_PATH__"
      - action: read
        path: "__STREAM_PATH__"
      - action: publish
        path: "__MUSIC_PATH__"
      - action: read
        path: "__MUSIC_PATH__"

api: false
metrics: false
pprof: false
playback: false

rtsp: false
rtmp: false
hls: false
webrtc: false

srt: true
srtAddress: :__SRT_PORT__

pathDefaults:
  source: publisher
  overridePublisher: false
  maxReaders: 2
  record: false

paths:
  __STREAM_PATH__:
    source: publisher
    overridePublisher: false
    maxReaders: 2
    srtPublishPassphrase: "__SRT_PUBLISH_PASSPHRASE__"
    srtReadPassphrase: "__SRT_READ_PASSPHRASE__"
  __MUSIC_PATH__:
    source: publisher
    overridePublisher: false
    maxReaders: 2
    srtPublishPassphrase: "__MUSIC_PUBLISH_PASSPHRASE__"
    srtReadPassphrase: "__MUSIC_READ_PASSPHRASE__"
